/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ---- MOBILE FIRST ---- */

/* ---- Global Styles  ---- */

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #202322;
    color: #e2e3ed;
}

.content-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: left;
}

h1 {
    font-size: 2.25em;
    line-height: 1.2;
}

h2 {
    font-size: 1.875em;
    line-height: 1.2;
}

h3 {
    font-size: 1.125em;
}

p {
    font-size: 0.875em;
    line-height: 1.3;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e2e3ed;
}

address {
    font-style: normal;
}

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    padding: 1em;
    line-height: 1;
}

input[type=text]::placeholder {
    font-style: italic;
}

input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin: 20px 0 50px 0;
    background-color: #2a423a;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

/* ---- Header ---- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 60%;
    padding: 15px 0;
}

header .header-divider {
    background-color: #3a3a3a;
    height: 1px;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    width: 60%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

/* ---- Footer ---- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    color: #FFFFFF;
}

footer .footer-content {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 35px 0;
}

footer .contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

footer h3 {
    text-align: center;
    width: 100%;
}

footer address p {
    text-align: center;
    line-height: 1.2;
}

footer .social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 30px;
}

footer .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer .social-icons p {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer i {
    background-color: #527158;
    border-radius: 50%;
    color: #e2e3ed;
    font-size: 1.125em; 
    line-height: 1.2;
    padding: 10px;
}

footer .copyright {
    text-align: center;
    padding: 15px 0;
}

/***** ---- Homepage ---- *****/

/* ---- Hero Area ---- */

.hero-area {
    background: url('../img/jake-melara-30679-unsplash.jpg') center no-repeat #333;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-area .content-wrapper {
    padding-top: 25px;
}

/* ---- E-mail form ---- */

aside {
    background-color: #527158;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

aside .form-description {
    width: 100%;
}

aside .form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
aside h3 {
    width: 100%;
    margin: 30px 0 10px 0;
}

/* ---- Amenities Section ---- */

.features {
    background: url('../img/rawpixel-800820-unsplash.jpg') center no-repeat #333;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .content-wrapper {
    padding: 25px 0 35px 0;
}

.features .features-items {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.features-items article {
    padding: 10px 0;
}

.features .fontawesome-icon {
    font-size: 3.25em;
    text-align: center;
    padding: 16px 0;
}

.features .features-item-description {
    text-align: center;
    padding: 16px 0;
}

/* ---- Reviews Section ---- */

.reviews {
    background-color: #2a423a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 25px 0 45px 0;
}

.reviews .content-wrapper {
    justify-content: flex-start;
}

/* ---- About Page ---- */

/* Mission Section */

.mission {
    background-color: #527158;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.mission .content-wrapper {
    justify-content: flex-start;
    padding: 45px 0;
    
}

.mission p {
    padding-top: 16px;
}

.mission h2 {
    margin: 0;
}

/* Map Section */

.map figure {
    width: 100%;
    height: 0;
    /* padding-bottom sets height to width ratio of 5:4 */
    padding-bottom: 125%;
    overflow: hidden;
    position: relative;
}

.map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* Contact Section */

.contact-section {
    background-color: #2a423a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 45px 0;
}

.contact-section .contact-info {
    width: 100%;
}
.contact-section .content-wrapper {
    justify-content: flex-start;
}

.contact-section h2 {
    margin: 0;
}

/* ---- FAQ Page ---- */

.faq {
    background-color: #527158;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 25px;
}

.faq .content-wrapper {
    justify-content: flex-start;
}

.faq article {
    width: 100%;
    padding-bottom: 45px;
}

.faq h3 {
    margin: 10px 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden, [hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active, .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ---- Tablet styles ---- */

@media only screen and (min-width: 768px) {
    
    /* Global (Tablet) */

    .content-wrapper {
        width: 85%;
    }
    h1 {
        font-size: 3em;
        line-height: 1;
    }
    h2 {
        font-size: 2.25em;
        line-height: 1.33;
    }
    h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }

    /* Header (Tablet)*/
    
    header .content-wrapper {
        justify-content: space-between;
        flex-flow: row nowrap;
    }
    header .logo {
        text-align: left;
        width: 50%;
        padding: 30px 0;
    }
    header .logo figure {
        width: 67.5%
    }
    header .header-divider {
        display: none;
    }
    header nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }
    header nav ul {
        display: flex;
        justify-content: space-between;
        width: 40%;
        align-items: center;
    }

    /* Footer (Tablet) */

    footer .footer-content {
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: row nowrap;
        width: 100%;
        padding: 75px 0;
    }
    footer .contact {
        flex-basis: 30%;
    }

    footer .social {
        flex-basis: 30%;
        padding: 0;
    }
    footer p {
        padding: 16px 0;
    }

    /* ---- Homepage (Tablet) ---- */

    /* Hero Section (Tablet) */

    .hero-area {
        height: 600px;
    }
    .hero-area .content-wrapper {
        padding-top: 67px;
    }

    /* Email form (Tablet)*/

    aside .content-wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row nowrap;
        padding-top: 20px;
    }
    aside .content-wrapper .form-description {
        width: 40%;
    }
    aside .content-wrapper .form {
        width: 46%;
    }

    /* Amenities Section (Tablet) */

    .features .content-wrapper {
        padding: 60px 0 70px 0;
    }
    .features .features-items {
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
    }
    .features article {
        flex-basis: 35%;
    }
    .features .fontawesome-icon {
        font-size: 4.5em;
    }

    /* Reviews Section (Tablet) */

    .reviews {
        padding: 70px 0 100px 0;
    }
    .reviews .review-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row nowrap;
    }
    .review-image, .review-description {
        width: 47%;
    }
    .review-description h3 {
        margin: 0 0 16px 0;
    }

    /* ---- About Page (Tablet) ---- */

    /* Mission Section (Tablet) */

    .mission .mission-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .mission p {
        width: 45%;
    }

    /* Map Section (Tablet) */

    .map figure {
        /* height to width ratio of 350:768 */
        padding-bottom: 45%;
    }

    /* Contact Section (Tablet) */

    .contact-section {
        padding: 70px 0;
    }
    .contact-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 25px 0;
    }
    .general-info, .facilitator-info {
        flex-basis: 45%;
    }
    .contact-section h3 {
        margin: 0 0 16px 0;
    }

    /* ---- FAQ Page (Tablet) ---- */

    /* FAQ Section (Tablet) */

    .faq {
        padding: 60px 0;
    }
    .faq .faq-items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }
    .faq article {
        flex-basis: 45%;
        padding-bottom: 35px;
    }
    .faq h3 {
        font-size: 0.875em;
        line-height: 1.3;
    }
}

/* ---- Desktop styles ----*/

@media only screen and (min-width: 1200px) {
    
    /* Global Styles (Desktop) */

    .content-wrapper {
        width: 960px;
    }

    h1 {
        font-size: 3.75em;
        line-height: 1.2;
        width: 700px;
    }

    h2 {
        line-height: 1.2;
    }

    h3 {
        font-size: 1.875em;
        line-height: 1.2;
    }

    p {
        font-size: 1.125em;
        line-height: 1.33;
    }

    /* Header (Desktop) */

    header .logo figure {
        width: 280px;
    }

    header nav ul {
        width: 140px;
    }

    /* Footer (Desktop) */
    footer .contact {
        flex-basis: 21%;
    }

    footer .social {
        flex-basis: 21%;
        padding: 0;
    }

    /* ---- Homepage (Desktop) ---- */

    /* Hero Section (Desktop) */

    .hero-area .content-wrapper {
        padding: 0;
    }

    .hero-area .content-wrapper {
        justify-content: flex-start;
    }

    /* Email Form (Desktop) */

    aside .content-wrapper {
        justify-content: space-around;
    }

    aside .form-description, .form {
        flex-basis: 35%;
    }

    /* Amenities Section (Desktop) */

    .features .content-wrapper {
        justify-content: flex-start;
    }
    .features .features-items {
        padding: 50px 0 15px 0;
    }

    .features article {
        flex-basis: 26%;
    }

    /* Reviews Section (Desktop) */

    .reviews .review-content {
        padding-top: 60px;
    }

    /* ---- About Page (Desktop) ---- */

    /* Mission Section (Desktop) */

    .mission .content-wrapper {
        padding: 90px 0;
    }

    .mission p {
        padding-top: 25px;
    }

    /* Map Section (Desktop) */

    .map figure {
        /* height to width ratio of 450:1200 */
        padding-bottom: 37.5%;
    }

    /* Contact Section (Desktop) */

    .contact-section h3 {
        margin-bottom: 30px;
    }


    /* ---- FAQ Page (Desktop) */

    /* FAQ Section */

    .faq h3 {
        font-size: 1.125em;
        line-height: 1;
    }


    



    
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *::before, *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]::after {
        content: " (" attr(href) ")";
    }
    abbr[title]::after {
        content: " (" attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after, a[href^="javascript:"]::after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}